body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100px;
}

.container {
    position: absolute;
    right: 0;
    /* margin-bottom: 100px; */
    padding-top: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 550px;
    height: auto;
    margin-right: 160px;
    margin-left: 100%;
}

.containermodal{
    position: absolute;
    right: 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 550px;
    height: auto;
    margin-right: 360px;
    
}

h1 {
    text-align: start;
    color: #333;
    font-size: 20px;
}

.form-group {
    margin-bottom: 15px;
    align-content: center;
    text-align:right;
    padding-top: 20px;
    }


label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    position: absolute;
    display: flex;
    font-size: 18px;
    text-align: left;

}

input {
    width: 50%;
    padding: 10px 0 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #3333332d;
}

button {

    width: 50%;
    height: 40px;
    background-color: #4c3be6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}
.buttons {
    justify-content: center;
    align-items: center;
    padding-left: 350px;
    padding-top: 5px;
    width: 400px;
}

button:hover {
    background-color: #08066e;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: left;
}